<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>793958133869-l9b885mlvq7bgooi8qv54bvovg9sq8ht.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.793958133869-l9b885mlvq7bgooi8qv54bvovg9sq8ht</string>
	<key>API_KEY</key>
	<string>AIzaSyBJBJTP5vdKvSxgg1-8e1cqVXvt94k-07I</string>
	<key>GCM_SENDER_ID</key>
	<string>793958133869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.nz.mylotto</string>
	<key>PROJECT_ID</key>
	<string>lottonz-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>lottonz-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:793958133869:ios:93c55449c8dbe96d</string>
	<key>DATABASE_URL</key>
	<string>https://lottonz-debug.firebaseio.com</string>
</dict>
</plist>